<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.0.1.51:80/WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
                contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap" />
        </client>
    </system.serviceModel>
  <appSettings>
    <!--<add key="MySqlUrl" value="Server=10.0.1.234; Database=meterwater_data; Uid =tianchen; Password =tianchen;"></add>-->
    <!--<add key="MySqlUrl" value="Server=localhost; Database=meterwater_data; Uid =root; Password ='';"></add>-->
  </appSettings>
</configuration>
